#an-custom-field-container {
	min-height: 310px;
}
#an-custom-field-container .an-custom-field-help {
	float: right;
	padding: 10px;
	width: 200px;
	border: 1px solid #DDDDDD;
	background: #F9F9F9;
}
#an-custom-field-container .an-custom-field-help p {
	margin: 0;
}
#an-custom-field-container fieldset {
	margin-bottom: 20px;
}
.an-widget-container fieldset {
	margin: 10px 0;	
}
.an-widget-container fieldset legend,
#an-custom-field-container fieldset legend {
	display: block;
	padding: 7px;
	width: 400px;
	font-weight: bold;
	font-size: 14px;
	border: 1px solid #DDDDDD;
	background: #F9F9F9;
	border-radius: 5px;
	cursor: pointer;
}
.an-widget-container fieldset legend {
	width: 95%;
}
#an-custom-field-container .an-parameter-group {
	width: 400px;
}
.an-widget-container .an-parameter-group-content p {
	margin: 10px 0 0 0;
}
.an-widget-container label,
#an-custom-field-container label {
	display: block;
	padding: 3px;
	float: left;
	width: 200px;
	font-weight: bold;
}
.an-widget-container label {
	width: 70%;	
}
.an-widget-container label a,
#an-custom-field-container label a {
	cursor: help;
	text-decoration: none;
}
.an-widget-container .control-group,
#an-custom-field-container .control-group {
	margin: 3px 0;
	padding: 3px;
	width: 400px;
}
.an-widget-container .control-group {
	width: 100%;
}
.an-widget-container input[type="text"],
#an-custom-field-container input[type="text"] {
	width: 180px;
}
.an-widget-container select,
#an-custom-field-container select {
	width: 180px;
}

/* Custom fields tabs */
ul#an-tab-links {
	list-style-type: none;
	border-bottom: 1px solid #DDDDDD;	
}
ul#an-tab-links li {
	display: inline-block;
}
ul#an-tab-links li a {
	padding: 7px 12px 6px 12px;
	color: #444;
	text-decoration: none;
	border: 1px solid #DDDDDD;
	border-bottom: none;
	background: #F9F9F9;
}
ul#an-tab-links li:first-child {
	margin-left: 10px;
}
ul#an-tab-links li a:hover,
ul#an-tab-links li a.active {
	padding-bottom: 7px;
	background: #fff;
}
div.an-custom-field-tab {}

/* Individual Fields */
.an-parameter-group-keyword label {
	width: 160px;
}
.an-parameter-group-keyword input[type="text"] {
	width: 220px;
}

/* Settings Page */
#an-options-container {
	width: 600px;
}
#an-options-container a.tip {
	text-decoration: none;
	cursor: help;
}
#an-options-container th[scope="row"] {
	width: 170px;
}
#an-options-container select,
#an-options-container input[type="text"] {
	width: 200px;
  border-style: solid;
  border-width: 1px;
  border-color: #DDDDDD;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;	
}

/* Help Popup */
#an-help-popup {
	width: 580px;
}
#an-help-popup p {
	font-size: 12px;
}
#an-help-popup pre {
	padding: 5px;
	font-size: 12px;
	border: 1px solid #999;
	background: #fff;	
}
#an-help-popup code {
	font-size: 11px;
}